<a href="https://colab.research.google.com/github/Abmhd/IJulia.jl/blob/master/PythonWeek1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python handles several basic types. There are **integers** _i.e. whole numbers such as 2, -15 . There are **floating points numbers**_numbers with decimal points such as 1.3,-123.67. There are **strings** which consisit of  text enclosed in single or double qoutes such as *"Hello"* and *'My name is Ahmad'*. There are also **boolean**  which have one of two possible values *True* and *False*. To display a value use *print* followed by the value between parenthesis.

In [1]:
print(2)
print(1.3)
print("hello")
print(False)

2
1.3
hello
False

###In the code above. we used the **function** *print* to display the values of *2,1.3,"hello",False*. Another usefull **function** is *type* which returns the type of its argument as <class 'type'> where the 'type' is the name of the type. In the code below we separated python statements with a semicolon. This is permitted and helps us avoid having many lines. Try putting all the statments below in a single line by editing the cell below after running it.<u>For python any text after the hash \# is disregarded and doesn't affect the execution of the code. Such text is used by programmers to explain the code to readers</u>. We will use it below to explain the output. Such text is called a **comment**

In [1]:
print(-12); print(type(-12)) # type integer is returned as <type 'int'>
print(1.3);print(type(1.3)) # type floating point is returned as <type 'float'>
print("Hello");print(type("Hello")) #type string is returned as <type 'str'>
print(True);print(type(True)) #type boolean is returned as <type 'bool'>

-12
<class 'int'>
1.3
<class 'float'>
Hello
<class 'str'>
True
<class 'bool'>

#  **Variables**
###**Variables** are important in all programming languages. In Python you can also use variables, such as x, to store values of any type. You do this by using an assignment statement with the variable on the left of an equal sign = and the value you want to store on the right. Thus *x=2* will result in storing the 2 as the value of the variable x. Try the following code. Note variables can have names with several charcters such as *greeting* and *is_sunny*. Note also that the type of the variable is the type of the value assigned to it

In [13]:
y=1.3; print(y);print(type(y))
greeting="Hello"; print(greeting);print(type(greeting))
is_sunny=True; print(is_sunny);print(type(is_sunny))

1.3
<class 'float'>
Hello
<class 'str'>
True
<class 'bool'>

##Variable names must start with a letter (upper or lower case) and can contain letters or digits or the underscore *_* charcater.  In the examples below we used *print* with several arguments. <u>If you use *print* with several arguments the values of these arguments will be printed on the same line with a space between them.</u>

In [4]:
x_1=6; class12="math"
print(x_1,type(x_1)) # print the value of x_1 followed by its type on the same line
print(class12,type(class12)) # do the same for class12

6 <class 'int'>
math <class 'str'>

### Note that the following <font color="red"> will causes an error and ends the execusion of of the program</font>


*  ### A variable name that does not conform to the above restrictions, i.e. contains a character which is not a letter, digit, or the hash
*  ### Using a variable that was not assigned a value

In [15]:
1stname="Khalid"
#the variable name starts with a digit 1 not a letter. Affter seeing 1 python expects a number "decimal literal'"

SyntaxError: invalid decimal literal (ipython-input-3185100296.py, line 1)

In [5]:
print(myvar)
# The variable myvar was not assigned a value so python will complain that it is not defined

NameError: name 'myvar' is not defined

In [19]:
mohammed!id=23413423 #this variable name contains a character "!" which is not allowed in variable names

SyntaxError: invalid syntax (ipython-input-295026019.py, line 1)

###There are also **reserved words** which are words that cannot be used as variable names because they have special meaning in python. *if*  is one such a word

In [20]:
if=2

SyntaxError: invalid syntax (ipython-input-2489644062.py, line 1)

## Python doesn't have many built in functions. Instead it keeps functions in **librabries** that contain functions and constants. To use the function or constant *f* in the library *X* you first **import** the library by using the staement *import X* and refer to the function or constant as *X.f* ,i.e. the  *f* in the library *X*. There is a library called *keyword* which has a constant called *kwlist*  that contains all kew words. You don't have to memorize the list but remember if you get an error it might be because you used a reserved word

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## A final note about variables. Variable names are case sensitive. *myVar* is different from *MyVar*

In [8]:
# x and X are tow different variables
x=2;X="Hello";print(x,X) # X and x are two different variable

2 Hello

In [9]:
y=2; print(Y) #This will cause an error since Y is not defined only y is

NameError: name 'Y' is not defined

#Arithmetic Operations

## The arithemtic operations are

*   ## + addition
*   ## - subtraction
*  ##  * multipliaction
*  ##  / division
* ## // integer division
* ## % modulo (remainder) operation
* ## \*\* exponentiation
## In the example below we used a string giving the operation befor printin its value to clarify how the value was obtained. Note we also used extra spacing before *print* to improve readability

In [11]:
print("5+6 =",5+6);  print("5-6 =",5-6);  print("5*6  =",5*6);  print("15/3 =",15/3)
print("16/3 =",16/3);  print("16/3 =",16//3); print("16%3 =",16%3)
print("2**3 =",2**3); print("3.1**1.5 =",3.1**1.5)

5+6 = 11
5-6 = -1
5*6  = 30
15/3 = 5.0
16/3 = 5.333333333333333
16/3 = 5
16%3 = 1
2**3 = 8
3.1**1.5 = 5.458113227114293

## To explain // it is helpful to look at the *floor* function which can be found in the *math* library.

In [1]:
import math
print("math.floor(12.3) =",math.floor(12.3)); print("math.floor(-12.1) =",math.floor(-12.1))

math.floor(12.3) = 12
math.floor(-12.1) = -13

## As you can see *floor(x)* return the biggest integer not exceeding *x*. If *x* is positive that amounts to dropping the digits to the right if the decimal point, e.g in *12.3* we just drop *.3*. For negative numbers we drop the fractional part and then move one unit down, e.g. in *-12.1* we drop the *.1* to get *-12* then go one step down to *-13*
## *x//y* is the floor of *x/y*. i.e. it is the largest integer not exceeding *x/y* (at least in most cases). Roughly the biggest number that can be multiplied by *y* without exceeding x.
## x%y is the difference between *x* and *(x//y)\*y*

In [15]:
# Some examples of // and % for you to try
print("10//3 =",10//3) # should be 3
print("-10//3 =",-10//3) #should be -4
print("10%3 =",10%3) #should be 1
print("-10%3 =",-10%3) # shoulld be 2 which is -10-(-4)*3

10//3 = 3
-10//3 = -4
10%3 = 1
-10%3 = 2

## Don't worry too much about memorizing what // and % do.
## However, you need to remember the order in which the operations are executed. This can be remembered as PEMDAS parenthesis ,i.e. ( ), then exponentiation \*\* , then unary minus (- with single operand) then multiplication and dividision (\*,/,//,%)  executed from left to right then addition and subtraction from left to right

## You can always use psrenthesis to specify how you want the expression to be evaluated

In [16]:
print("10+5*3 =",10+5*3) #multiplication is performed first
print("(10+5)*3 =",(10+5)*3) # parenthesis is evaluated first
print("10**2*3 =",10**2*3) # exponentiation is performed first
print("10/2*3 =",10/2*3) # multiplication and division are done left to right

10+5*3 = 25
(10+5)*3 = 45
10**2*3 = 300
10/2*3 = 15.0

In [2]:
print("2**3**2 =",2**3**2) # exponentiation left to right
print("-10**2 =",-10**2) # exponentiation is evaluated before unary minus

2**3**2 = 512
-10**2 = -100

# Boolean expressions

## In programmming **conditional execution** is fundamental. Consider the problem of finding the larger of two numbers *a* and *b* and use this as the value of *max*. This is imprtant in sorting , the arrangemt of records by a number, e.g. the arrangement of student records by student id number, which is why students are given id numbers. Returning to computing *max* we set *max* to be *a* if *a>b* and to *b* otherwise. Thus the value assigned to *max* is dependent on a whether a condition *a>b* is true or not. Building conditions based on comapring values of numerical variable is very important in programming since what we want  the program to do might depend of the whether a condition is true or false. The building blocks of boolean expression are comparison operators. The code below illustartes the comaprison operators

In [5]:
x=10;y=2;
print("x>y is ",x>y) #x larger than y
print("x>=5*y is ",x>=5*y)  # x larger than or equal y
print("x==y is ",x==y) # x equals y
print("x!=y is ",x!=y) #x is not equal y
print("x<y is " ,x<y) #
print ("x<=y is ",x<=y)

x>y is  True
x>=5*y is  True
x==y is  False
x!=y is  True
x<y is  False
x<=y is  False

## There are other comparison operators that will be discussed later namely *is*,  *not is*, *in* , and *not in*.
## There are also boolean operators to build more complex comparisons. The following code lists the boolean operators with examples

In [9]:
x=10;y=5;
less=x<y; leq=x<=y; eq=x==y; neq=x!=y; greater=x>y; greatereq=x>=y
print("x<y ",less," x<=y ",leq," x==y ",eq," x!=y ",neq,"  x>y ",greater,"  x>=y  ",greatereq)

x<y  False  x<=y  False  x==y  False  x!=y  True   x>y  True   x>=y   True

In [11]:
print(less or neq) # or is true if one of the operands is True
print(eq and greatereq) # and is true only if both operands are true
print( not greater) # not is true if itd operand is false and flase if its operand is true

True
False
False

## Ther are precendece rules for *and*, *or*, and *not* but we will not discuss them since we will not encounter complex expressions and the evaluation of any boolean expression can be specified by using parentheis

# String indexing

## Strings in python are a sequence of characters indexed from 0. The character at index *i* of a string *s* is expressed as *s[i]*. Try the code below

In [17]:
st="abcd"
print(st[0]) #The first character which is "a"
print(st[2]) # The third charcater which is "c"
print("My Example"[3]) #The fourth charcater of "My Example" which is "E"

a
c
E

## We can specify several consecutive characters in a string by using *[i:j]* this specifies the charcters with index starting with *i* and ending with *j-1* <u> Note the character at index j is not included</u>. The following code illustrates this **slicing** ,i.e. taking a slice from a string.

In [21]:
st="0123456" # so st[i]="i"
print("st[2:4] is  ",st[2:4]) # Note "4"=st[4] will not be included
print("st[:3] is ",st[:3]) # [:j] is treated as [0:j] so the slice start from the first charcter and ends at charcater j-2
print("st[2:]  is  ",st[2:]) #[i:] will result in starting the slice at i and continuing to the end of the string

st[2:4] is   23
st[:3] is  012
st[2:]  is   23456

# String operators

## The + operator on strings denotes conctenation,i.e. listing the charcters of both strings in sequence (see code below).For a positive integer *n* and a string *s* *s*n* replacts *s* *n* times

In [22]:
print("abc"+"def")
print("abc"*3)
print(3*"abc")

abcdef
abcabcabc
abcabcabc

## The *in* and *not in* operators
## If *c* is a character and *s* is a string then *c in s* will be true if *c* occurs in *s* and false otherwise. *not in* has the opposite meaning. See the code below

In [23]:
print("a" in "bca") # True
print("d" in "abc") # False
print("a" not in "abc") # False since "a" is in "abc"
print("d" not in "abc") #True since "d" is not in "abc"

True
False
False
True

## There are many other ways to manipulate strings we will look at those in the 3rd week of the 3 week introduction to python